@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
html, body { 
  background-color: #3b3b3b; 
  color: lightgray; 
  font: normal normal 13px/16px "Open Sans", sans-serif;
}
.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: rgb(54, 54, 54);
  border-radius: 5px;
}
/* display inline, retain block properties */
form { display: inline-block; }
/* 15px right, 5px left */
input { padding: 4px 15px 4px 5px; }
.button {
  display: inline-block;
  background-color: #b66869;
  color: #222222;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}
.button:hover {
  cursor: pointer;
  opacity: .8;
}
ol { padding-left: 20px; }
ol li { padding: 5px; color: #cbcbcb; }
/* even list items within ordered lists */
ol li:nth-child(even) { background: #3b3b3b;}
.strike { text-decoration: line-through;}
li:hover{ cursor: pointer; }
/* direct children of list items  with the tag name "crossOutButton" */
li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #048da6;
	font-weight: 800;
}